@model IEnumerable<EcommerceNicolas.Models.Producto>
@{
    ViewBag.Title = "Listado de Productos";
}

<h2>Index</h2>





<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>

                <th>Producto</th>

                <th>Precio Unitario</th>

                <th>Detalle</th>

            </tr>
        </thead>

        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.Nombre</td>
                     

                    <td>@item.Precio.ToString("C")</td>

                    <td>

                        <a href="/DetalleProducto/@item.id/@item.id_categoria">Detalle Producto</a>


                    </td>




                </tr>
            }
        </tbody>
    </table>
</div>

